@import "nav";
@import "banner";
@import "back-to-top";
@import "footer";

.contact-header {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 45px;
}

.contact-us-header {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 15px;
}

.contact-text {
    text-align: center;
    font-size: medium;
    font-weight: 200;
    padding: 0 70px 45px 70px;
}

.title {
    font-size: medium;
    font-weight: 250;
    padding-bottom: 15px;
}

#fullname { margin: 0 0 15px 10px; }

#emailaddress { margin: 0 0 15px 0; }

.form { padding: 0 25%; }

.message-area {
    min-height: 380px;
    min-width: 100%;
    resize: none;
    margin-right: 25%;
}

.button {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    :hover { background-color: #d20a11; }
}

.send-button {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    border: none;
    padding: 5px 35px 5px 35px;
}


@media (max-width: 768px) {
    .contact-header { padding: 0 15px; }
    .message-area {
        min-height: 380px;
        min-width: 100%;
        padding: 0;
    }
    .send-button {
        width: 140px;
    }
}