@import "nav";
@import "banner";
@import "back-to-top";
@import "footer";

.remembering-hero {
    width: 100%;
    padding-bottom: 50px;
}

.remembering {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

.warDate { 
    text-align: center;
    font-size: 14px;
    padding-bottom: 45px;
}

.hero-text { text-align: center; }

.heroes1-bg {
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 40px;
}

.war-hero-photo {
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.heroes2 {
    padding-top: 40px;
    padding-bottom: 40px;
}


.ty-compact-list:gt(2) {
    display: none;
  }

.hero-info {
    text-align: center;
    padding-bottom: 30px;
    @media screen and (min-width: 768px) { padding-bottom: 0;}
}

.pg-button-heroes {
    margin-bottom: 20px;
    text-align: center;
}

a { color: #fff; }

.btn-heroes-pages {
    background-color: black;
    border-color: transparent;
    color: #fff;
    transition: max-height 0.3s ease-out;

    &:hover {
        background-color: #d20a11;
        border-color: transparent;
    }

    &:active {
        background-color: #ceb7a5;
        border-color: transparent;
    }
}

// BOOTSTRAP OVERRIDE TO AMEND ISSUE WHERE 2 COLUMS ONLY ARE 
// SHOWING AS 50% ON MOBILE LANDSCAPE AND OTHERS SHOW AS 100%
@media screen and (min-width: 576px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media screen and (min-width: 768px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}