@import "banner";
 
.welcome {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 25px;

    &-article {
        text-align: center;
        padding: 0 46px 25px 46px;
        @media screen and (min-width: 768px) {padding: 0 100px 25px 100px;}
    }
}

.memorial-home-page {
    width: 100%;
    padding: 50px 0;
}

.space { padding-bottom: 60px; }