@import "nav";
@import "banner";
@import "back-to-top";
@import "footer";

.map-header {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 45px;
}

#map {
    min-height: 400px;
    min-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;

    @media (max-width: 768px) {
        min-width: fit-content;
    }
}

.map-text {
    text-align: center;
    font-size: medium;
    font-weight: 200;
    padding-bottom: 45px;
    padding-left: 70px;
    padding-right: 70px;
}